apiVersion: v1
kind: Service
metadata:
  name: {{ include "service-2-grpc-server.fullname" . }}
  labels:
    {{- include "service-2-grpc-server.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  externalName: {{ include "service-2-grpc-server.fullname" . }}.default.svc.cluster.local
  ports:
    - port: {{ .Values.service.port }}
      targetPort: 4317
      protocol: TCP
      name: http
  selector:
    {{- include "service-2-grpc-server.selectorLabels" . | nindent 4 }}
